{
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "func-names": [2, "never"],
    "arrow-parens": ["error", "as-needed"]
  }
}
