DB_URL=mongodb://localhost:27017/genericnodeapi
APP_PORT=6000
APP_SECRET=72a7541e4f4055a5413438fa28320217
SENDGRID_API_KEY=SG._YOURAPIKEY
MAIL_FROM=info@genericnodeapi.com
FRONTEND_URL=http://localhost:6001
S3_ID=YOUR_S3_ID
S3_KEY=YOUR_S3_KEY
S3_BUCKET=YOUR_S3_BUCKET_NAME
S3_ENDPOINT=https://s3-us-west-2.amazonaws.com
